:root {
  /* Primary Colors */
  --color-fire-red: #e70000;
  --color-fire-red-rgb: 231, 0, 0;
  --color-fire-red-hsl: 0.0, 100.0%, 45.3%;

  /* FIRE RED Shades */
  --color-fire-red-50: #fff1f1;
  --color-fire-red-100: #ffd5d5;
  --color-fire-red-200: #ffabab;
  --color-fire-red-300: #ff7373;
  --color-fire-red-400: #ff3b3b;
  --color-fire-red-500: #e70000;
  --color-fire-red-600: #a10000;
  --color-fire-red-700: #730000;
  --color-fire-red-800: #450000;
  --color-fire-red-900: #220000;
  --color-royal-purple: #2a075b;
  --color-royal-purple-rgb: 42, 7, 91;
  --color-royal-purple-hsl: 265.0, 85.7%, 19.2%;

  /* ROYAL PURPLE Shades */
  --color-royal-purple-50: #f3ebfd;
  --color-royal-purple-100: #dbc5fa;
  --color-royal-purple-200: #b88cf6;
  --color-royal-purple-300: #893ff0;
  --color-royal-purple-400: #5e0fcd;
  --color-royal-purple-500: #2a075b;
  --color-royal-purple-600: #1d043f;
  --color-royal-purple-700: #14032d;
  --color-royal-purple-800: #0c021b;
  --color-royal-purple-900: #06010d;
  --color-incinerator-green: #91e643;
  --color-incinerator-green-rgb: 145, 230, 67;
  --color-incinerator-green-hsl: 91.3, 76.5%, 58.2%;

  /* INCINERATOR GREEN Shades */
  --color-incinerator-green-50: #f9fdf5;
  --color-incinerator-green-100: #eefbe2;
  --color-incinerator-green-200: #def7c6;
  --color-incinerator-green-300: #c8f2a1;
  --color-incinerator-green-400: #b2ed7b;
  --color-incinerator-green-500: #91e643;
  --color-incinerator-green-600: #64b718;
  --color-incinerator-green-700: #478311;
  --color-incinerator-green-800: #2b4e0a;
  --color-incinerator-green-900: #152705;
  --color-ice-blue: #a8c8df;
  --color-ice-blue-rgb: 168, 200, 223;
  --color-ice-blue-hsl: 205.1, 46.2%, 76.7%;

  /* ICE BLUE Shades */
  --color-ice-blue-50: #fafcfd;
  --color-ice-blue-100: #f1f6fa;
  --color-ice-blue-200: #e4eef5;
  --color-ice-blue-300: #d3e3ef;
  --color-ice-blue-400: #c2d8e8;
  --color-ice-blue-500: #a8c8df;
  --color-ice-blue-600: #5291bf;
  --color-ice-blue-700: #34698e;
  --color-ice-blue-800: #1f3f55;
  --color-ice-blue-900: #0f1f2a;
  --color-peach-pink: #c5698b;
  --color-peach-pink-rgb: 197, 105, 139;
  --color-peach-pink-hsl: 337.8, 44.2%, 59.2%;

  /* PEACH PINK Shades */
  --color-peach-pink-50: #fcf7f9;
  --color-peach-pink-100: #f6e8ed;
  --color-peach-pink-200: #edd2dc;
  --color-peach-pink-300: #e2b4c5;
  --color-peach-pink-400: #d696ad;
  --color-peach-pink-500: #c5698b;
  --color-peach-pink-600: #983a5d;
  --color-peach-pink-700: #6c2a42;
  --color-peach-pink-800: #411928;
  --color-peach-pink-900: #200c14;
  --color-night-black: #0a0a0a;
  --color-night-black-rgb: 10, 10, 10;
  --color-night-black-hsl: 0.0, 0.0%, 3.9%;

  /* NIGHT BLACK Shades */
  --color-night-black-50: #f2f2f2;
  --color-night-black-100: #dadada;
  --color-night-black-200: #b5b5b5;
  --color-night-black-300: #848484;
  --color-night-black-400: #535353;
  --color-night-black-500: #0a0a0a;
  --color-night-black-600: #060606;
  --color-night-black-700: #050505;
  --color-night-black-800: #030303;
  --color-night-black-900: #020202;
  --color-bright-white: #f5f5f5;
  --color-bright-white-rgb: 245, 245, 245;
  --color-bright-white-hsl: 0.0, 0.0%, 96.1%;

  /* BRIGHT WHITE Shades */
  --color-bright-white-50: #fcfcfc;
  --color-bright-white-100: #fcfcfc;
  --color-bright-white-200: #fcfcfc;
  --color-bright-white-300: #fafafa;
  --color-bright-white-400: #f8f8f8;
  --color-bright-white-500: #f5f5f5;
  --color-bright-white-600: #ababab;
  --color-bright-white-700: #7a7a7a;
  --color-bright-white-800: #494949;
  --color-bright-white-900: #242424;
}

/* Utility Classes */
.bg-fire-red { background-color: var(--color-fire-red); }
.text-fire-red { color: var(--color-fire-red); }
.border-fire-red { border-color: var(--color-fire-red); }
.bg-royal-purple { background-color: var(--color-royal-purple); }
.text-royal-purple { color: var(--color-royal-purple); }
.border-royal-purple { border-color: var(--color-royal-purple); }
.bg-incinerator-green { background-color: var(--color-incinerator-green); }
.text-incinerator-green { color: var(--color-incinerator-green); }
.border-incinerator-green { border-color: var(--color-incinerator-green); }
.bg-ice-blue { background-color: var(--color-ice-blue); }
.text-ice-blue { color: var(--color-ice-blue); }
.border-ice-blue { border-color: var(--color-ice-blue); }
.bg-peach-pink { background-color: var(--color-peach-pink); }
.text-peach-pink { color: var(--color-peach-pink); }
.border-peach-pink { border-color: var(--color-peach-pink); }
.bg-night-black { background-color: var(--color-night-black); }
.text-night-black { color: var(--color-night-black); }
.border-night-black { border-color: var(--color-night-black); }
.bg-bright-white { background-color: var(--color-bright-white); }
.text-bright-white { color: var(--color-bright-white); }
.border-bright-white { border-color: var(--color-bright-white); }
